/* Media query for screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
    .subheader-text,
    .paragraph-text {
        font-size: 3vw;
    }
    .about-container {
        padding: 0 5rem;
    }
}

/* Media query for screens with a maximum width of 650px */
@media screen and (max-width: 650px) {
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--sidebar-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.5s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .profile-info-container {
        display: block;
    }

    .about-container {
        display: block;
    }

    .subheader-text,
    .paragraph-text{
        font-size: 5vw;
    }

    .title{
        font-size: 7vw;
    }

    .about-container {
        padding: 0 1rem;
        display: block;
    }

    .experience-list {
        flex-direction: column;
        align-items: center;
    }

    .article-container {
        justify-content: center;
    }

    .article-container article {
        margin: 2px 0;
        padding: 0;
    }

    .project-list .list-container {
        margin-bottom: 20px;
    }
    
    .profile-img img{
        width: 20vh
    }

    .list-container{
        padding: 1rem;
    }
}

/* Media query for screens with a maximum width of 400px */
@media screen and (max-width: 400px) {
    .about-container {
        padding: 0 1rem;
    }
}

