/*General*/

:root {
    --text-main-color: #423e3e;
    --nav-bg-color: #386641;
    --link-color: white;
    --link-hover-color: #F3D3BD;
    --transition-speed: 300ms;
}

/* Resetting default margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Smooth scrolling effect for the whole HTML document */
html {
    scroll-behavior: smooth;
}

/* Setting the color for all paragraph text */
p {
    color: var(--text-main-color);
}

/*Transition*/

/* Adding a transition effect to all anchor tags and buttons */
a, .btn {
    transition: all var(--transition-speed) ease;
}

/*Desktop Nav*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--nav-bg-color);
    z-index: 1000;
}


/* Styling the navigation links */
.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Styling the anchor tags */
a{
    color: var(--link-color);
    text-decoration: none;
    text-decoration-color: var(--link-color);
}

/* Changing the color and adding an underline on hover of anchor tags */
a:hover{
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Styling the logo */
.logo{
    font-size: 1.5rem;
    color: var(--link-color);
}

/* Changing the cursor to default on hover of the logo */
.logo:hover{
    cursor: default;
}

/* Hamburger Menu */

/* Hiding the hamburger navigation by default */
#hamburger-nav{
    display: none;
}

/* Positioning and displaying the hamburger menu */
.hamburger-menu{
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 20px;
}

/* Styling the hamburger icon */
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* Styling the spans inside the hamburger icon */
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all var(--transition-speed) ease-in-out;
}

/* Styling the links inside the hamburger menu */
.menu-links {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #c4c4c4;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all var(--transition-speed) ease-in-out;
}

/* Styling the anchor tags inside the menu links */
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-main-color);
    text-decoration: none;
    transition: all var(--transition-speed) ease-in-out;
}

/* Styling the list items in the menu */
.menu-links li {
    list-style: none;
}

/* Styling the menu links when open */
.menu-links.open {
    max-height: 300px;
}

/* Styling the first child of the hamburger icon when open */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

/* Styling the second child of the hamburger icon when open */
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

/* Styling the last child of the hamburger icon when open */
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* Resetting the styles of the first child of the hamburger icon */
.hamburger-icon span:first-child {
    transform: none;
}

/* Resetting the styles of the second child of the hamburger icon */
.hamburger-icon span:first-child {
    opacity: 1;
}

/* Resetting the styles of the last child of the hamburger icon */
.hamburger-icon span:first-child {
    transform: none;
}


/* SECTIONS */

/* Styling the header */
.container header {
    text-align: center;
    margin-bottom: 1rem;
}

/* Styling the h2 tag within the container class */
.container h2 {
    font-size: 2rem;
}

/* Styling the paragraph tag within the container class */
.container p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Styling the section tag */
section {
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Styling the section-container class */
.section-container {
    display: flex;
}

/* Styling the section-text class */
.section-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling the section-text-header class */
.section-text-header {
    font-weight: 600;
    font-size: 2.5rem;
}

/* Styling the section-text-paragraph class */
.section-text-paragraph{
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

/* Styling the title class */
.title {
    font-size: 3rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
    cursor: default;
    justify-content: center;
    align-items: center;
}

/* PROFILE */

/* Styling the profile id */
#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 12vh;
    background-color: #ffff;
}

/* Styling the profile-info-container class */
.profile-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* Styling the profile-img class */
.profile-img {
    max-width: 268px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Styling the socials-container id */
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ABOUT */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    margin: 0 auto;
    background-color: #d3d3d3;
}

/* Styling the about-container class */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    max-width: 1200px;
    margin: 0 auto;
}


