/*General*/

:root {
    /* DEFAULT THEME (DARK MODE)*/
    --primary-color: #0ebc36;
    --secondary-color: #7D5BA6;
    --tertiary-color: #0ebc8a;
    --background-color: #18181b;
    --sidebar-color: #3a3a3d;
    --paragraph-text: #ffffff;
    --link-color: #1c7eff;

    /* ALTERNATE THEME (LIGHT MODE) */
    --lightmode-primary-color: #0a8f29;
    --lightmode-secondary-color: #553b8a;
    --lightmode-tertiary-color: #06da9c;
    --lightmode-background-color: #fdfdfd;
    --lightmode-sidebar-color: #dedede;
    --lightmode-paragraph-text: #18181b;
    --lightmode-link-color: #013fa6;

    --transition-speed: 300ms;
}

body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

body.light-mode {
    --primary-color: var(--lightmode-primary-color);
    --secondary-color: var(--lightmode-secondary-color);
    --tertiary-color: var(--lightmode-tertiary-color);
    --background-color: var(--lightmode-background-color);
    --sidebar-color: var(--lightmode-sidebar-color);
    --paragraph-text: var(--lightmode-paragraph-text);
    --link-color: var(--lightmode-link-color);
}


/* Resetting default margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Smooth scrolling effect for the whole HTML document */
html {
    scroll-behavior: smooth;
}

/* Setting the color for all paragraph text */
p {
    color: var(--paragraph-text);
}

/*Transition*/

/* Adding a transition effect to all anchor tags and buttons */
a, .btn {
    transition: all var(--transition-speed) ease;
}

/* NAVIGATION */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    z-index: 1000;
    background-color: var(--background-color);
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--paragraph-text);
}

nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

nav #theme-toggle {
    margin-left: auto;
    margin-right: 20px;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

.open-sidebar-button {
    margin-right: auto;
}


/* SECTIONS */

/* Styling the header */
.container header {
    text-align: center;
    margin-bottom: 1rem;
}

/* Styling the h2 tag within the container class */
.container h2 {
    font-size: 2rem;
}

/* Styling the paragraph tag within the container class */
.container p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Styling the section tag */
section {
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Styling the section-container class */
.section-container {
    display: flex;
}

/* Styling the section-text class */
.section-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling the subheader-text class */
.subheader-text {
    margin: 1rem;
    font-size: 2rem;
    color: var(--paragraph-text);
    cursor: default;
}

/* Styling the paragraph-text class */
.paragraph-text{
    margin-bottom: 1rem;
    font-size: 2.25rem;
    color: var(--paragraph-text);
    cursor: default;
}

/* Styling the title class */
.title {
    font-size: 3rem;
    cursor: default;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

/* PROFILE */

/* Styling the profile id */
#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 12vh;
}

/* Styling the profile-info-container class */
.profile-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* Styling the profile-img class */
.profile-img img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20rem;
}

/* Styling the socials-container id */
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ABOUT */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 12vh;
}

/* Styling the about-container class */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* EXPERIENCE */

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 1rem;
}

#experience h2.title {
    margin-top: 10rem;
}

.list-container{
    position: relative;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--tertiary-color);
    text-align: center;
    flex: 0 0 300px;
    margin: 1rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 70%;
}

.experience-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    position: relative;
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article img {
    position: absolute;
    left: 1%;
    width: auto;
    height: 90%;
}

article p {
    font-size: 1.5rem;
}

/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-top: 30vh;
}

.project-img {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list-container .btn-container {
    margin-top: auto;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2vh;
    margin-top: 10px;
}

.btn{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 20px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease 0s;
    border: none;
    background: var(--secondary-color);

}

.btn:hover{
    transform: scale(1.1);
    text-decoration: underline;
}


/* FOOTER SECTION */
footer p{
    text-align: center;
}

footer a {
    color: var(--link-color);
}

footer a:hover {
    color: var(--primary-color);
}