/*General*/

:root {
    --text-main-color: #423e3e;
    --nav-bg-color: #323030;
    --link-color: white;
    --link-hover-color: #386641;
    --transition-speed: 300ms;
    --content-background-white: #ffff;
    --content-background-grey: #d3d3d3
}

/* Resetting default margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Smooth scrolling effect for the whole HTML document */
html {
    scroll-behavior: smooth;
}

/* Setting the color for all paragraph text */
p {
    color: var(--text-main-color);
}

/*Transition*/

/* Adding a transition effect to all anchor tags and buttons */
a, .btn {
    transition: all var(--transition-speed) ease;
}

/* NAVIGATION */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--nav-bg-color);
    z-index: 1000;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--link-color);
}

nav a:hover {
    background-color: var(--link-hover-color);
}

nav .home-link{
    margin-right: auto;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

.open-sidebar-button {
    margin-right: auto;
}


/* SECTIONS */

/* Styling the header */
.container header {
    text-align: center;
    margin-bottom: 1rem;
}

/* Styling the h2 tag within the container class */
.container h2 {
    font-size: 2rem;
}

/* Styling the paragraph tag within the container class */
.container p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Styling the section tag */
section {
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Styling the section-container class */
.section-container {
    display: flex;
}

/* Styling the section-text class */
.section-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling the section-text-header class */
.section-text-header {
    font-weight: 600;
    font-size: 2.5rem;
}

/* Styling the section-text-paragraph class */
.section-text-paragraph{
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

/* Styling the title class */
.title {
    font-size: 3rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
    cursor: default;
    justify-content: center;
    align-items: center;
}

/* PROFILE */

/* Styling the profile id */
#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 12vh;
    background-color: var(--content-background-white);
}

/* Styling the profile-info-container class */
.profile-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* Styling the profile-img class */
.profile-img img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20rem;
}

/* Styling the socials-container id */
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ABOUT */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 12vh;
    background-color: var(--content-background-grey);
}

/* Styling the about-container class */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* EXPERIENCE */

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 1rem;
}

#experience h2.title {
    margin-top: 10rem;
}
.list-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    text-align: center;
    margin: 0.5rem;
}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 70%;
}

.experience-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    position: relative;
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article img {
    position: absolute;
    left: 1%;
    width: auto;
    height: 90%;
}

article p {
    font-size: 1.5rem;
}

/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-top: 30vh;
    background-color: var(--content-background-grey);
}

.project-img {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list-container {
    flex: 0 0 300px;
    margin: 1rem;
    height: auto;
    min-height: 350px;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2vh;
}

.btn{
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    transition: var(--transition-speed) ease;
    cursor: pointer;
    background: none;
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn:hover{
    background: rgb(53, 53, 53);
    color: white;
    border-color: white;
}

/* FOOTER SECTION */
footer{
    background-color: var(--content-background-grey);
}

footer p{
    text-align: center;
}
